<%- include('partials/header') %>
<main class="main-content">
    <section class="movie-details">
        <h1 class><%= movie.title %></h1>
        
        <div class="movie-details">
            <p class="movie-info"><strong>Release Year:</strong> <%= movie.releaseYear %></p>
            <p class="movie-info"><strong>Genre:</strong> <%= movie.genre %></p>
            <p class="movie-info"><strong>Director:</strong> <%= movie.director %></p>
            <p class="movie-info"><strong>Rating:</strong> <%= movie.rating ? movie.rating : 'Not rated yet' %></p>
        </div>
        
        <div class="white-horizontal-rule"></div>
        
        <p class="movie-description"><%= movie.description %></p>
    </section>
</main>
</body>
</html>
