<%- include('partials/header') %>
        <main class="main-content">
            <h1>Top Rated Movies ⭐️</h1>
            <p class="heading-description">
                Here Are Our <%= topRatedMovies.length %> Top Rated Movies!
            </p>

            <ul class="top-rated-movie-ul">

            <% topRatedMovies.forEach(movie => { %>

        
                        <li class="top-rated-movie" onclick="location.href='/<%= movie.id %>';">
                            
                            <h2> 
                                <%= movie.title %> (<%= movie.releaseYear %>)
                            </h2>
                
                            <p>
                                <strong> Description: </strong> <%=movie.description %>
                            </p>

                            <p>
                                <strong> Genre: </strong> <%=movie.genre %>
                            </p>

                            <p>
                                <strong> Rating: </strong> <%= movie.rating %>
                            </p>
                        
                        </li>
            
            <% }) %>
            
            </ul>
        </main>
    </body>
</html>