<%- include('partials/header') %>
        <main class="main-content">
            <h1>Upcoming Movies ⏳</h1>
            <p class="heading-description">Here are the next <%= fiveUpcomingMovies.length %> upcoming movies. Click each card for more details.</p>
            <section class="movie-container">
                    <% fiveUpcomingMovies.forEach((movie) => { %>
                        <a href="<%= `/${movie.id}` %>">
                            <div class="movie-card">
                                <h3 class="movie-card-title"><%= movie.title %></h3>
                                <p class="movie-card-release-date"><%= movie.releaseYear %></p>
                                <div class="white-horizontal-rule"></div>
                                <p class="movie-card-description"><%= movie.description %></p>
                            </div>
                        </a>
                    <% }) %>
            </section>
        </main>
    </body>
</html>